@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    font-family: Arial, Helvetica, sans-serif;
    /* width: 75%;
    margin: auto; */
}


.header {
    background-color: #001E39;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: auto;
    


}
.relative{
    height: 200px;
    width: 100px; ;
}

.logo {
    width: 65px;
    /* margin-left: 50px; */
    /* margin-right: 100px; */
    height: 65px;
    /* justify-content: center; */
    border-radius: 50px;
}

/* .panier {
    width: 30px;
    margin-right: 100px;

} */

.user {
    width: 30px;
}
.input{
    height: 40px;
    border-radius: 15px 0 0 15px ;
    padding: 5px;
    width: 700px;
    color: black;
     
}

.recherche {
    
   background-color: #E64C3C;
   height: 40px;
    border-radius: 0 15px 15px 0;
    padding: 5px;
   
   
}
.nav_bar ul{
    background-color: #02518A;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: white;
    list-style: none;
}
/* .caroussel{
    border: #000000 solid 1px;
    height: 100px;
} */
.sous :hover{
    background-color: rgb(172, 165, 165);
    color: white;
}

.carousel-container img{
   width: 100%;
   height: auto;
   /* border: black solid 2px; */
   margin: auto;
  /* padding: 5px; */
   
}



.menu    {
    position: relative;
    
      } 
.deroulant:hover  {
  background-color:rgb(172, 165, 165) ;
  cursor: pointer;
    } 
.sousmenu{
   margin-left: 245px;
   padding: 15px;
   display: none;
   width: 100%;
   position: absolute;
} 


  .sousmenu a {
    color:black;
   margin-left: 70px;
 } 
 .deroulant{
   display: flex;
   
 } 
  .menu:hover  .sousmenu   {
    display: block;
      } 
.deroulant .sousmenu  {
       display: flex;
          } 
.flexmenu{
    display: flex;
} 
.flecheindex{
    margin-left: 150px;
} 


